body{
    margin: 0;
    padding: 0;
    background: url(https://fotorecurso.com/images/2016/04/29/fondo-azul-blue-cuadros-fotorecurso.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}
.btn{
    position: relative;
    top: 80px;
    left: 600px;
}
h1{
    text-align: center;
}
p{
    text-align: right;
}

header {
    width: 100%;
    background: rgb(24, 75, 105, 0.692);
    align-items: center !important;
    border: 2px solid rgb(9, 8, 92);
  }
  
  #btn-menu {
    display: none;
  }
  
  header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid rgb(9, 8, 92);;
  }
  
  header label:hover {
    cursor: pointer;
    background: rgba(62, 79, 85, 0.89);
  }
  
  .menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
  
  
  }
  
  .menu li {
    border-right: 1px solid rgb(9, 8, 92);;
  }
  
  .menu li:hover {
    background: rgba(126, 194, 206, 0.3);
  }
  
  .menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width:768px) {
    header label {
      display: block;
    }
  
    .menu {
      position: absolute;
      background: rgba(24, 75, 105, 0.692);
      width: 30%;
      margin-left: -30%;
      transition: all 1s;
    }
  
    .menu ul {
      flex-direction: column;
    }
  
    .menu li {
      border-top: 1px solid #fff;
    }
}
